# Problema 53
## 53)
Tiremos $N=10000$ partículas de manera randómica en un box 3-D de lado $L=1$ con $10 \times 10 \times 10$ celdas de lado $\Delta = 0.1$, y ordenémoslas de forma secuencial según un índice que indique en qué celda se encuentra. Es decir, ordenaremos según $p_x$ creciente, $p_y$ creciente y $p_z$ creciente, siendo $\vec p \in \mathbb{Z}$ los índices de cada celda según $(x,y,z)$. Veamos:

In [65]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from numpy import linalg as LA

L = 1 #Lado del box
c = 10 #subdivisiones
n = 10000 #cant de partículas

#Tiramos las partículas y las guardamos en un DataFrame, donde a cada una le asignaremos un número de celda
#(Hay 10x10x10 = 1000 celdas)

np.random.seed(0) #Para poder replicar resultados
pos = np.random.uniform(0,L,(n,3))
df = pd.DataFrame(pos,columns=['x','y','z']) #Guardamos (x,y,z)

p = np.arange(0,n)
df['ID'] = p #Esta es la columna que indica en qué celda se encuentra
df

             x         y         z    ID
0     0.548814  0.715189  0.602763     0
1     0.544883  0.423655  0.645894     1
2     0.437587  0.891773  0.963663     2
3     0.383442  0.791725  0.528895     3
4     0.568045  0.925597  0.071036     4
...        ...       ...       ...   ...
9995  0.744256  0.833002  0.177207  9995
9996  0.463218  0.581561  0.390984  9996
9997  0.763993  0.886611  0.535190  9997
9998  0.820328  0.622359  0.531140  9998
9999  0.852904  0.734230  0.638997  9999

[10000 rows x 4 columns]

In [66]:
#Creamos las columnas con los lugares en el box de cada celda:

px = np.arange(0,n) #para guardar integers

df['px'] = px
df['py'] = px
df['pz'] = px

In [67]:
#Veamos en qué celda está c/u:

for k in range(n): #Dada 1 partícula
    for i in range(c): 
        if i/c <= df['x'][k] < (i+1)/c: #En qué x está
            df.loc[k,'px'] = i
            for j in range(c):
                if j/c <= df['y'][k] < (j+1)/c: #En qué y está
                    df.loc[k,'py'] = j
                    for l in range(c):
                        if l/c <= df['z'][k] < (l+1)/c: #En qué z está
                            df.loc[k,'pz'] = l
                        
df

             x         y         z    ID  px  py  pz
0     0.548814  0.715189  0.602763     0   5   7   6
1     0.544883  0.423655  0.645894     1   5   4   6
2     0.437587  0.891773  0.963663     2   4   8   9
3     0.383442  0.791725  0.528895     3   3   7   5
4     0.568045  0.925597  0.071036     4   5   9   0
...        ...       ...       ...   ...  ..  ..  ..
9995  0.744256  0.833002  0.177207  9995   7   8   1
9996  0.463218  0.581561  0.390984  9996   4   5   3
9997  0.763993  0.886611  0.535190  9997   7   8   5
9998  0.820328  0.622359  0.531140  9998   8   6   5
9999  0.852904  0.734230  0.638997  9999   8   7   6

[10000 rows x 7 columns]

In [68]:
#Ahora que tenemos lo que queremos, ordenémoslos:

df.sort_values(['px','py','pz'],axis=0,ascending=True,inplace=True)

In [69]:
#Ordenemos para tener al ID adelante:

cols = df.columns.tolist()
cols = ['ID','x','y','z','px','py','pz']
df = df[cols]
df.reset_index(drop=True,inplace=True)
df

        ID         x         y         z  px  py  pz
0     2895  0.051109  0.014323  0.009938   0   0   0
1     6093  0.012744  0.083504  0.085411   0   0   0
2     6894  0.008240  0.062820  0.017741   0   0   0
3     7898  0.074266  0.085869  0.044141   0   0   0
4     7928  0.018127  0.067056  0.057628   0   0   0
...    ...       ...       ...       ...  ..  ..  ..
9995  7926  0.913730  0.919717  0.969072   9   9   9
9996  8200  0.942519  0.942736  0.964198   9   9   9
9997  8683  0.966037  0.984070  0.948510   9   9   9
9998  9446  0.909621  0.977912  0.964272   9   9   9
9999  9714  0.975587  0.921151  0.927452   9   9   9

[10000 rows x 7 columns]

¡Y listo! Tenemos ordenadas a nuestras partículas según la celda a la que correspondan, de manera secuencial en X, Y y Z, sin importar el orden en el que obtuve sus posiciones.